.sidebarListItem {
  font-size: 30px;
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.sidebarListItem.active,
.sidebarListItem:hover {
  color: #555;
  background-color: rgba(255, 206, 0, 255);
}

.sidebarIcon {
  margin-right: 5px;
  font-size: 30px !important;
}
