.sidebar {
  flex: 1;
  height: calc(100vh - 80px);
  /* height: 100vh; */
  /* background-color: rgb(251, 251, 255); */
  background-color: rgb(0, 0, 0);
  position: sticky;
  top: 80px;
}

.sidebarWrapper {
  padding: 20px;
  color: rgba(255, 206, 0, 255);
}

.sidebarMenu {
  margin-bottom: 10px;
}

.sidebarTitle {
  font-size: 18px;
  color: rgb(167, 166, 154);
}

.sidebarList {
  list-style: none;
  padding: 5px;
}
