*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.tbar{
    background: black;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.tbar__main{
display: flex;
justify-content: space-between;
height: 80px;
z-index: 1;
width: 100%;
max-width: 1300px;
margin: 0 auto;
padding: 0 50px;


}

#tbar__logo{
    background-color: yellow;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color:transparent;
    -moz-text-fill-color:transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration:none;
    font-size: 2rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}

.p-husky {
    margin-right:.5rem;


}

.tbar__menu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;

}

.tbar__item {
    height: 80px;
    
}

.tbar__links{
    color:yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding:0 1rem;
    height: 100%;
}

.main{
    background-color:white;

}

.main__home{

    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 90vh;
    background-color:white;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px ;
}

.main__stuff h1 {
font-size: 3rem;
background-color: yellow;
background-size: 100%;
-webkit-background-clip: text;
-moz-background-clip: text;
-webkit-text-fill-color:black;
-moz-text-fill-color:transparent;


}

.main__stuff p {
font-size: 2rem;
background-color: yellow;
background-size: 100%;
-webkit-background-clip: text;
-moz-background-clip: text;
-webkit-text-fill-color:black;
-moz-text-fill-color:transparent;

}

.group_btn{
    font-size: 1rem;
    padding: 12px 24px;
    border:none;
    border-radius: 5px;
    color:white;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all .20s;
    outline: none;


}

.group_btn a {
    position: relative;
    z-index: 2;
    color:black;
    text-decoration: none;


}

.group_btn:after {
    position:absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: yellow;
    transition: ease-in-out .2s;
    border-radius: 4px;


}

.group_btn:hover {
    color: white;
}

.group_btn:hover:after {
    width:100%;


}



.freq_btn{
    font-size: 1rem;
    padding: 12px 24px;
    border:none;
    border-radius: 5px;
    color:white;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all .20s;
    outline: none;


}

.freq_btn a {
    position: relative;
    z-index: 2;
    color:black;
    text-decoration: none;


}

.freq_btn:after {
    position:absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: yellow;
    transition: ease-in-out .2s;
    border-radius: 4px;


}

.freq_btn:hover {
    color: white;
}

.freq_btn:hover:after {
    width:100%;


}



@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
  text-decoration: none;
}
footer{
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  background: #111;
}
footer .content{
  max-width: 1350px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .content p,a{
  color: yellow;
}
footer .content .box{
  width: 33%;
  transition: all 0.4s ease;
}
footer .content .topic{
  font-size: 22px;
  font-weight: 600;
  color: yellow;
  margin-bottom: 16px;

}
footer .content p{
  text-align: justify;
}
footer .content .lower .topic{
  margin: 24px 0 5px 0;
}
footer .content .lower i{
  padding-right: 16px;
}
footer .content .middle{
  padding-left: 80px;
}
footer .content .middle a{
  line-height: 32px;
}
footer .content .right input[type="text"]{
  height: 45px;
  width: 100%;
  outline: none;
  color: #d9d9d9;
  background: #000;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 17px;
  border: 2px solid #222222;
}
footer .content .right input[type="submit"]{
  height: 42px;
  width: 100%;
  font-size: 18px;
  color: #d9d9d9;
  background: #eb2f06;
  outline: none;
  border-radius: 5px;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 12px;
  border: 2px solid #eb2f06;
  transition: all 0.3s ease-in-out;
}
.content .right input[type="submit"]:hover{
  background: none;
  color:  #eb2f06;
}
footer .content .media-icons a{
  font-size: 16px;
  height: 45px;
  width: 45px;
  display: inline-block;
  text-align: center;
  line-height: 43px;
  border-radius: 5px;
  border: 2px solid #222222;
  margin: 30px 5px 0 0;
  transition: all 0.3s ease;
}
.content .media-icons a:hover{
  border-color: #eb2f06;
}
footer .bottom{
  width: 100%;
  text-align: right;
  color: #d9d9d9;
  padding: 0 40px 5px 0;
}
footer .bottom a{
  color: #eb2f06;
}
footer a{
  transition: all 0.3s ease;
}
footer a:hover{
  color: #eb2f06;
}
@media (max-width:1100px) {
  footer .content .middle{
    padding-left: 50px;
  }
}
@media (max-width:950px){
  footer .content .box{
    width: 50%;
  }
  .content .right{
    margin-top: 40px;
  }
}
@media (max-width:560px){
  footer{
    position: relative;
  }
  footer .content .box{
    width: 100%;
    margin-top: 30px;
  }
  footer .content .middle{
    padding-left: 0;
  }
}



