<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Page</title>
    <link rel="stylesheet" href="../static/css/welcomestyle.css">
</head>
<body>

<nav class="tbar">
    <div class="tbar__main">
        <a href="/" id="tbar__logo">HuskyGroups</a>
        <div class="tbar___toggle" id="mobile-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
        <ul class="tbar__menu">
            <li class="tbar__item">
                <a href="" class="tbar__links">Home</a>
            </li>
            <li class="tbar__item">
                <a href="/searchgroup.html" class="tbar__links">Search Group</a>
            </li>
            <li class="tbar__item">
                <a href="/creategroup.html" class="tbar__links">Create Group</a>
            </li>
            <li class="tbar__item">
                <a href="/faq.html" class="tbar__links">FAQ</a>
            </li>

        </ul>
    </div>
</nav>

<div class="main">
    <div class="main___home">
        <div class="main__stuff">
            <h1>Welcome to HuskyGroups!</h1>
            <p>HuskyGroups is a platform where students
                can connect and find resources for classes or clubs.
                If there's a group you don't see you may search for it above or
                create it if it doesn't exist yet!  </p>
            <button class="group_btn"><a href="/">Your Groups</a></button>
            <button class="freq_btn"><a href="/">Frequently Used Groups</a></button>


        </div>
    </div>

</div>

</body>
</html>